@keyframes fadeInOut {
    0%, 100% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
  }
  
  .fade-animation {
    animation: fadeInOut 3s infinite;
  }


  .fade-in {
    opacity: 0;
    animation: fadeIn 5s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }